* {
  color: white;
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana,
    sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  margin: 0px !important;
  display: grid;
  padding: 0px !important;
}
.header {
  height: 100vh;
  /* min-width: 1000px;
  min-height: 500px; */
  width: 100vw;
  /* background-color: #754ede; */
  background-size: cover;
  background-position: top;
  background: linear-gradient(
    170deg,
    #742dd0 14.9%,
    #754ede 15%,
    #754ede 59.9%,
    #726edf 60%,
    #726edf 70.8%,
    white 70.9%
  );
  /* clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); */
}
/* #7650E0 */
.navbar {
  line-height: 6;
  position: sticky;
  top: 0;
  text-decoration: none;
  margin: 0 10%;
  min-width: 500px;
}

.my-web {
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
}

.nav-options {
  position: absolute;
  right: 150px;
  display: inline-block;
  font-size: 11px;
}
.nav-options a {
  margin-right: 20px;
  text-decoration: none;
}
.nav-options a:last-child {
  text-decoration: none;
  margin-right: 40px;
}

.login-support {
  font-size: 11px;
  display: inline-block;
  position: absolute;
  right: 0;
  width: 145px;
  margin-left: 2px;
}

.login {
  text-decoration: none;
  /* margin: 0 15px; */
}

.support-btn {
  line-height: 1.7;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 25px;
  margin-left: 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 2px #524e4e;
  position: relative;
  background-color: rgb(72, 217, 143);
  color: white;
}
.support-btn:hover {
  font-size: 12.5px;
  background-color: rgb(76, 231, 152);
  box-shadow: 1px 4px 5px #454546;
}

.text-box {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 500px;
  min-height: 300px;
  height: 70%;
  transform: translateY(30%);
  /* transform: translateY(50%);
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
}

.heading-primary {
  color: #fff;
  display: block;
  backface-visibility: hidden;
  margin-bottom: 45px;
}

.heading-primary-main {
  display: block;
  font-size: 30px;
  line-height: 25px;
  font-weight: 550;
  /* letter-spacing: 5px; */
}
.less {
  color: rgb(72, 217, 143);
  display: inline-block;
}
.heading-primary-sub {
  display: inline-block;
  font-size: 30px;
  font-weight: 550;
  /* letter-spacing: 5px; */
}
form {
  text-align: center;
  margin: 10% 0;
}
.search-field {
  border-radius: 10px;
  margin-right: 5px;
  width: 300px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  color: #000;
}
.btn-search {
  height: 39.5px;
  width: 100px;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #524e4e;
  margin-left: 10px;
  background-color: rgb(72, 217, 143);
  border-radius: 10px;
}
.btn-search:hover {
  height: 40px;
  width: 100px;
  font-size: 11.5px;
  background-color: rgb(76, 231, 152);
  box-shadow: 1px 4px 5px #454546;
}
.learn-how-container {
  text-align: center;
  position: absolute;
  top: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.learn-how {
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  font-weight: 100 !important;
}
.down-arrow {
  margin-top: 30px;
  display: inline-bock;
  text-decoration: none;
  border-radius: 900px;
  box-shadow: 0px 1px 1px #000;
  position: relative;
  line-height: 32.5px;
  width: 45px;
  height: 45px;
  background-color: rgb(72, 217, 143);
}

.down-arrow::after {
  display: inline-block;
  content: "￬";
  font-size: 45px;
  border-radius: 900px;
  width: 35px;
  height: 55px;
}
.down-arrow:hover {
  box-shadow: 0px 4px 5px #777;
}
/* MAIN */
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* min-height: 700px;
  min-width: 1000px; /* need to fix this for laptop screen sizes  1280x612px*/
  */width: 100vw;
  background: linear-gradient(170deg, white 68.8%, #f7f7f7 68.9%);
  position: relative;
}
.main-heading-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  /* position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); */
  text-align: center;
}
.main-heading-header {
  width: 50%;
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* height: 45%; */
  /* height: 40%; */
}
.main-heading-pgph {
  /* margin: 0 10%; */
  /* position: absolute;
  top: 0; */
  /* left: 25%; */
  /* margin: 0 auto; */
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #777;
  width: 100%;
  /* width: 570px; */
}
.create-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  box-sizing: content-box;
  height: 50px;
  /* margin-bottom: 5%; */
}
.create-account-btn {
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.7;
  text-decoration: none;
  font-size: 11.5px;
  font-weight: bold;
  padding: 5px 20px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 2px 3px #777;
  position: relative;
  color: white;
  width: 190px;
  line-height: 21px;
  height: 30px;
  background-color: #754ede;
  margin-bottom: 5%;
}
.create-account-btn:hover {
  background-color: #726edf;
  box-shadow: 1px 4px 5px #454546;
}
.card-box {
  text-align: center;
  width: 830px;
  padding: 0;
  display: inline-grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  /* max-width: 830px; */
  align-items: center;
}
.our-services-footer {
  margin-top: 8%;
  height: 60%;
  width: 100%;
}
.our-services-title {
  color: black;
  font-weight: 100;
  margin-bottom: 4%;
  font-size: 15.5px;
}
.our-services-title:after {
  content: "";
  display: block;
  height: 0;
  margin: 0 auto;
  width: 40px;
  padding-top: 1px;
  border-bottom: 1.5px solid black;
}
.card {
  background-color: #f1f1f1;
  border-radius: 5px;
  /* width: 400px; */
  width: 90%;
  height: 110px;
  box-shadow: 0 2px 2px #777;
  position: relative;
  margin: 0 auto;
}
.one {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  margin-bottom: 10px;
  /* margin-right: 10px; */
}

.two {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  margin-bottom: 10px;
  /* margin-left: 10px; */
}
.three {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
}
.four {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
  /* margin-left: 10px; */
}

img {
  margin-top: 20px;
  align-content: center;
  position: absolute;
  background-color: #f1f1f1;
  left: 0;
  top: 0;
  height: 80px;
  width: 80px;
}
.card-title {
  position: absolute;
  box-sizing: content-box;
  color: black;
  font-size: 14px;
  top: -3%;
  left: 110px;
}
.card-title:after {
  content: "￫";
  font-size: 20px;
}
.text {
  text-align: left;
  position: absolute;
  left: 110px;
  top: 40%;
  width: 60%;
  color: #777;
  box-sizing: content-box;
  margin-top: 3%;
  font-weight: 100;
  font-size: 11px;
}
.footing-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 25%;
  width: 62%;
  /* min-width: 830px;
  max-width: 1120px; */
  position: absolute;
  bottom: 0;

  /* line-height: 50px; */
}
.ready-contact {
  justify-content: flex-start;
  /* position: absolute;
  display: inline-bock;
  left: 0; */
  /* margin-left: 10%;
  bottom: 64%; */
  line-spacing: 300px;
  margin-right: 180px;
  width: 255px;
  text-align: left;
}
.ready {
  color: #726edf;
  font-size: 18px;
  font-weight: 300;
}
.create-act {
  color: #6426b4;
  font-weight: 300;
}
.btn-container {
  justify-content: flex-end;
  /* position: absolute;
  right: 0;
  bottom: 54%;
  margin-: 10%; */
  /* min-width: 340px; */
  display: inline-block;
}
.contact-us {
  text-decoration: none;
  color: black;
  background-color: whitergb(233, 233, 233);
  box-shadow: 0 2px 3px #777;
  border-radius: 7px;
  line-height: 1.7;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 15px;
  height: 30px;
  margin-left: 8px;
}

.contact-us:hover {
  background-color: white;
  box-shadow: 0 4px 5px #777;
}

/* FOOTER */

/* add linear gradient for top of footer to match bottom of main so that I can fit what I need on main" */
.footer {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  position: relative;
  height: 30vh;
  /* min-height: 210px;
  min-width: 1000px; */
  background-color: #754ede;
  /* background: linear-gradient(180deg, #f7f7f7 14.8%, #754ede 14.9%); */
}
.footer-main {
  display: flex;
  flex-direction: row;
  position: relative;
  /* transform: translateY(50%); */
  /* bottom: 50px; */
  box-sizing: content-box;
  justify-content: center;
  width: 100%;
}

.footer-links {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  font-size: 11px;
  justify-content: space-around;
  margin-right: 10%;
}
.footer-links:last-child {
  margin-right: 0;
}
.website {
  margin-top: 10px;
  margin-bottom: 6px;
  height: 20px;
}
.website::before {
  content: "📞";
  margin-right: 5px;
  color: black;
}
.email {
  margin-bottom: 10px;
}
.email:before {
  content: "✉";
  font-size: 20px;
  margin-right: 5px;
  color: black;
  font-weight: 600;
}
.address {
  width: 150px;
  display: flex;
  flex-direction: column;
}
.address span {
  /* margin-bottom: 5px; */
  /* margin-left: 20px; */
}
.address span:first-child:before {
  content: "✦";
  margin-right: 5px;
  font-size: 15px;
  color: black;
}

.address span:nth-child(2) {
  margin-left: 20px;
}
.address span:last-child {
  margin-left: 20px;
}

.links-header {
  font-weight: 600;
}
.links {
  text-decoration: none;
}
.footer-icons {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.fa {
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

/* MEDIA QUERIES */

@media screen and (max-width: 505px) {
  .navbar {
    line-height: 6;
    position: relative;
    text-decoration: none;
    margin: 0 10%;
    min-width: 500px;
  }

  .my-web {
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
  }

  .nav-options {
    position: absolute;
    right: 150px;
    display: inline-block;
    font-size: 11px;
  }
  .nav-options a {
    margin-right: 20px;
    text-decoration: none;
  }
  .nav-options a:last-child {
    text-decoration: none;
    margin-right: 40px;
  }

  .login-support {
    font-size: 11px;
    display: inline-block;
    position: absolute;
    right: 0;
    width: 145px;
    margin-left: 2px;
  }

  .login {
    text-decoration: none;
    /* margin: 0 15px; */
  }

  .support-btn {
    line-height: 1.7;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 25px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 2px 2px #524e4e;
    position: relative;
    background-color: rgb(72, 217, 143);
    color: white;
  }
  .learn-how-container {
    text-align: center;
    position: absolute;
    top: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main {
    max-width: 100vw;
    max-height: 100vh;
  }
  .main-heading-text {
    width: 100%;
  }

  .main-heading-header {
    width: 100%;
  }
  .main-heading-pgph {
    width: 100%;
  }
  .card-box {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 15px auto;
    width: 80%;
    box-sizing: content-box;
    margin-bottom: 15px;
  }
  .card {
    width: 25em;
    height: 8em;
    font-size: 1em;
    box-sizing: content-box;
  }
  .one {
    margin-bottom: 10px;
  }
  .two {
    margin-bottom: 10px;
  }
  .three {
    margin-bottom: 10px;
  }
  .four {
    margin: 0;
  }
  .text {
    font-size: 0.7em;
  }
  img {
    width: 5.7em;
    height: 5.7em;
  }
  .create-account-btn {
    width: 19em;
    height: 3.5em;
    line-height: 2.7em;
    font-size: 0.6em;
  }
  .footing-nav {
    width: 100%;
  }
  .ready-contact {
    width: 50%;
    margin: 0;
  }
  .footer {
    width: 100vw;
  }
}
/* 1200px */
