* {
  color: white;
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana,
    sans-serif;
  box-sizing: border-box;
}

.body {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
}
.header:before {
  content: "";
  background-color: #742dd0;
}
.header {
  height: 100vh;
  /* background-color: #754ede; */
  background-size: cover;
  background-position: top;
  background: linear-gradient(
    170deg,
    #742dd0 15%,
    #754ede 15%,
    #754ede 60%,
    #726edf 60%
  );
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
}
/* #7650E0 */
.navbar {
  line-height: 6;
  position: relative;
  margin: 0 5%;
}

.my-web {
  height: 100%;
  font-size: 12px;
  display: inline-block;
  position: absolute;
}

.nav-options {
  position: absolute;
  right: 150px;
  display: inline-block;
  font-size: 11px;
}
.nav-options span {
  margin-right: 20px;
}
.nav-options span:last-child {
  margin-right: 40px;
}

.login-support {
  font-size: 11px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.login {
  margin: 0 15px;
}

.support-btn:link,
.support-btn:visited {
  line-height: 1.7;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 25px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #000;
  position: relative;
  background-color: rgb(72, 217, 143);
  color: white;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  display: block;
  backface-visibility: hidden;
  margin-bottom: 45px;
}

.heading-primary-main {
  display: block;
  font-size: 40px;
  font-weight: 500;
  /* letter-spacing: 5px; */
}
.less {
  color: rgb(72, 217, 143);
  display: inline-block;
}
.heading-primary-sub {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  /* letter-spacing: 5px; */
}
form {
  text-align: center;
}
.search-field {
  border-radius: 10px;
  width: 330px;
  height: 50px;
  text-align: center;
  font-size: 14px;
}
.btn-search {
  height: 49.5px;
  width: 90px;
  box-sizing: border-box;
  margin-left: 10px;
  background-color: rgb(72, 217, 143);
  border-radius: 10px;
}
